@charset "UTF-8";



@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
   
    
}

:root{

    --fontPoppins: 'Poppins',sans-serif;
    --fontFira: 'Fira Sans',sans-serif;
    --fontRoboto: 'Roboto',sans-serif;

}

@media (max-width: 700px){

   
header{
    height: 70px;
}



.main{
    
    width: 340px;
    /* border: 1px solid red; */
    height: 1200px;
    
}

.navHeader{
    width: 80%;
    margin: auto;
    padding: 9px;
    flex-direction: row;
    justify-content: space-around;

    
    
    
}

.navDiv{
    width: 60px;
    height: 60px;

  
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: .8em;
    
}
.navDiv > img{
    width: 24px;
    color: #794CF8;

    
   
}
.navDiv > p {
    margin-top: 5px;
}
/* ====================================== SEC INICIO ================================ */

.secInicio{
    margin-top: 150px;
    
}
.divFoto{
    display: flex;
    flex-direction: column;

    
    align-items: center;
}
.divFoto > img{
    width: 140px;    
    border-radius: 15px;

    transform: skewY(-5deg);

    box-shadow: 1px 1px 5px 1px #9756f97e;

    

}

.divFoto > p{
    margin-top: 20px;
    font-size: .7em;
    letter-spacing: .8px;
    font-weight: 300;
    color: #190b3f9d;
    font-family: var(--fontRoboto);
    
}
.divTitulo{
   
    height: 150px;
    align-self: center;
    width: 200px;
    margin-left: 80px;
    margin-bottom: 150px;

    position: relative;
    

    
   

}

.divTitulo > h1{
   font-size: 1.2em; 
}

.divTitulo > p {
    margin-top: 10px;
    font-size: .7em;
    opacity: 80%;
    font-weight: normal;
}

/* ====================================== SEC INICIO ================================ */
.secFormacaoTit{
    /* border: 1px solid red; */
   margin-top: 200px;
   display: block;
}
.divTituloForm{
    font-size: 1.7em;
    color: #190B3F;
    line-height: 60px;

    text-align: center;
    letter-spacing: 5px;

   
    margin-bottom: 100px;
    
}
.divTextForm{
    margin-bottom: 40px;
}

.divTextForm > p{
    font-size: .8em;
    text-indent: 5px;
}
.divTextForm > p:last-child{
    margin-top: 20px;
}
/* ===================== CAIXA DE FORMAÇOES =================== */

.divCxs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.divCxs > p{
    text-align: center;
    color: #766E8F;
    opacity: 80%;
    font-family: var(--fontPoppins);
    font-size: .8em;
}
.cxFormaçoes{
    display: flex;
    position: relative;
    flex-direction: column;
    
    width: 300px;
    height: 250px;
    margin: auto;
    padding: 12px;
    border-radius: 10px;  
    box-shadow: 1px 1px 3px #190b3f34;

     background-color: #D6D1E6;
}

.cxFormaçoes::before{
    content: ' ';
    display: block;
    background-image: linear-gradient(to bottom, #9756F9, #6D3CB7);
    height: 20px;
    width: 4px;

    position: absolute;
    left: -4px;
    top: 16px;
}

.cxFormaçoes h3 {
    font-size: 1em;
}

.cxFormaçoes p {
    font-size: .7em;
    margin-top: 10px;
}

.cxLingFormacao{
    margin-top: 45px;
}
.cxLingFormacao > h3{
    font-family: var(--fontFira);
    color: #241357;
    font-size: .9em;
    text-align: center;
}

.cxDeLinguagens{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 70px);
    gap: 20px;

    margin-top: 15px;
     
}
.cxDeLinguagens > div {
    display: flex;
    justify-content: center;
    align-items: center;
    

    font-family: var(--fontFira);
    color: #241357;
    font-weight: 700;
    font-size: .6em;
    letter-spacing: 1px;
    background-color: #F9F7FF;
    height: 25px;
    
    border-radius: 5px;
    border: 1px solid #9756f972;
    transition: .3s;
    cursor: pointer;
}

.cxDeLinguagens > div:hover{
    transform: translateY(-2px);
    box-shadow: 1px 1px 3px 2px #7a4cf816;
    
}

.divUXUI {
    width: 80px;
}
.divUXUI:last-child{
    margin-left: 15px;
}

/* ==================== FORMACAO HOTEL ======================== */

.divHotel{
    margin-top: 90px;
}


/* ====================== FORMACAO LANDING PAGE ==================== */

.divLanding{
    margin-top: 90px;
}

}


