@charset "UTF-8";



@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
   
    
}

:root{

    --fontPoppins: 'Poppins',sans-serif;
    --fontFira: 'Fira Sans',sans-serif;
    --fontRoboto: 'Roboto',sans-serif;

}

@media (max-width: 700px){

   


header{
    height: 70px;
}



.main{
    
    width: 340px;
    /* border: 1px solid red; */
    height: 1200px;

    

    grid-area: secForm;
    
}

.navHeader{
    width: 80%;
    margin: auto;
    padding: 9px;
    flex-direction: row;
    justify-content: space-around;

    
    
    
}

.navDiv{
    width: 60px;
    height: 60px;

  
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: .7em;
    
}
.navDiv > img{
    width: 16px;
    color: #794CF8;

    
   
}
.navDiv > p {
    margin-top: 5px;
}
/* ====================================== SEC INICIO ================================ */

.secInicio{
    margin-top: 150px;
    
}
.divFoto{
    display: flex;
    flex-direction: column;

    
    align-items: center;
}
.divFoto > img{
    width: 140px;    
    border-radius: 15px;

    transform: skewY(-5deg);

    box-shadow: 1px 1px 5px 1px #9756f97e;

    

}

.divFoto > p{
    margin-top: 20px;
    font-size: .7em;
    letter-spacing: .8px;
    font-weight: 300;
    color: #190b3f9d;
    font-family: var(--fontRoboto);
    
}
.divTitulo{
   
    height: 150px;
    align-self: center;
    width: 200px;
    margin-left: 80px;
    margin-bottom: 150px;

    position: relative;
    

    
   

}

.divTitulo > h1{
   font-size: 1.2em; 
}

.divTitulo > p {
    margin-top: 10px;
    font-size: .7em;
    opacity: 80%;
    font-weight: normal;
}

/* ====================================== SEC INICIO ================================ */
.secFormacaoTit{
    /* border: 1px solid red; */
   margin-top: 200px;
   display: block;
}
.divTituloForm{
    font-size: 1.7em;
    color: #190B3F;
    line-height: 60px;

    text-align: center;
    letter-spacing: 5px;

   
    margin-bottom: 100px;
    
}
.divTextForm{
    margin-bottom: 40px;
}

.divTextForm > p{
    font-size: .8em;
    text-indent: 5px;

}
.divTextForm > p:last-child{
    margin-top: 20px;
}
/* ===================== CAIXA DE FORMAÇOES =================== */

.divCxs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.divCxs > p{
    text-align: center;
    color: #766E8F;
    opacity: 80%;
    font-family: var(--fontPoppins);
    font-size: .8em;
}
.cxFormaçoes{
    display: flex;
    position: relative;
    flex-direction: column;
    
    width: 300px;
    height: 250px;
    margin: auto;
    padding: 12px;
    border-radius: 10px;  
    box-shadow: 1px 1px 3px #190b3f34;

     background-color: #D6D1E6;
}

.cxFormaçoes::before{
    content: ' ';
    display: block;
    background-image: linear-gradient(to bottom, #9756F9, #6D3CB7);
    height: 20px;
    width: 4px;

    position: absolute;
    left: -4px;
    top: 16px;
}

.cxFormaçoes h3 {
    font-size: 1em;
}

.cxFormaçoes p {
    font-size: .7em;
    margin-top: 10px;
}

.cxLingFormacao{
    margin-top: 45px;
}
.cxLingFormacao > h3{
    font-family: var(--fontFira);
    color: #241357;
    font-size: .9em;
    text-align: center;
}

.cxDeLinguagens{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 70px);
    gap: 20px;

    margin-top: 15px;
     
}
.cxDeLinguagens > div {
    display: flex;
    justify-content: center;
    align-items: center;
    

    font-family: var(--fontFira);
    color: #241357;
    font-weight: 700;
    font-size: .6em;
    letter-spacing: 1px;
    background-color: #F9F7FF;
    height: 25px;
    
    border-radius: 5px;
    border: 1px solid #9756f972;
    transition: .3s;
    cursor: pointer;
}


.divUXUI {
    width: 80px;
}
.divUXUI:last-child{
    margin-left: 15px;
}

/* ==================== FORMACAO HOTEL ======================== */

.divHotel{
    margin-top: 90px;
}


/* ====================== FORMACAO LANDING PAGE ==================== */

.divLanding{
    margin-top: 90px;
}

/* ====================================== AREA DE FACULDADES ================================ */


.fundoFaculdade{
    background-color: #10062B;
    /* height: 200px; */
    /* height: 100%; */
    position: relative;
    top: 850px;

    padding-bottom: 80px;    
}

.fundoFaculdade > section {
    padding-top: 80px;
}

.divTitFacul > h1{
    color: #180C39;
    font-size: 2em;
    font-family: var(--fontRoboto);
    line-height: 60px;
    text-align: center;
    letter-spacing: 5px;
    
    
   
}

.divTextFacul{
    font-size: .8em;
    font-family: var(--fontRoboto);
    color: #A89DC9;


    width: 80%;
    margin: auto;
    margin-top: 50px;
    letter-spacing: .9px;
    line-height: 22px;
   
    
}

.divConteinerFacul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}

.divConteinerFacul > div{
    background-color: #05051A;

    width: 300px;
    height: 150px;
    padding: 15px;

    border-radius: 10px;
    box-shadow: 1px 1px 3px #7a4cf819;
    position: relative;
}

.divConteinerFacul > div::before{
    content: ' ';
    display: block;

    background-image: linear-gradient(to bottom, #9756F9, #6D3CB7);
    height: 20px;
    width: 4px;

    position: absolute;
    top: 30px;
    left: -4px;
}
.h3BachDout{
    color: #9189A5;
    font-family: var(--fontFira);
    font-weight: 600;
    font-size: .8em;
}

.pBachDout {
    color: #D6D1E6;
    font-family: var(--fontFira);
    font-weight: bold;
    font-size: 1em;
    margin-top: 30px;

    
}

.ufrrj{
    margin-top: 45px;
    color: #9189A5;
    font-weight: 600;
    font-size: .7em;
    font-family: var(--fontFira);
}


/* ======================= AREA DE CURSOS ============================ */

.divCursosIntesivos > h3{
   color: #9189A5;
   font-family: var(--fontFira);
    font-size: 1em;
    letter-spacing: 1px;

   display: flex;
   align-items: center;
   justify-content: center;


}

.divCursosIntesivos img {
    width: 20px;
    margin-right: 10px;
}

.cursosHTML{
    display: grid;
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: 1fr 1fr;

    font-family: var(--fontFira);
    font-size: .9em;
    font-weight: bolder;
    color: #9189A5;

    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.cursosHTML > p{
    margin-top: 20px;
}

.pHoraCurso{
    margin-left: 50px;
    font-weight: normal;
    font-size: .8em;
    
}

.h3CursoIngles{
    margin-top: 80px;
    
}

.divTextIngles{
    justify-content: space-around;

}

.pNivelIdioma{
    margin-left: -125px;
    font-weight: normal;
    font-size: .8em;
}

/* ======================== AREA DO CONTATO ======================= */

.fundoContato{
    background-color: #0A0419;
    width: 100%;
    height: 100%;

   

    position: relative;
    top: 850px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.fundoContato::before, .fundoContato::after{
    content: ' ';
    display: block;
    width: 8px;
    height: 50px;
    
   
    
    position: absolute;
    transform: rotate(35deg);

    top: 200px;
    
}
.fundoContato::before{
    background-color: #6D3CB7ed;
    top: -20px;
    left: 50px;
}
.fundoContato::after{
    background-color: #9756F9;
    top: -28px;
    left: 65px;
}

.fundoContato > p{
    font-family: var(--fontFira);
    font-size: .9em;
    font-weight: normal;
    letter-spacing: .5px;
    color: #BCB5D2;
    margin: auto;
    width: 350px;


}
.fundoContato > p + p{
    margin-top: 50px;
}
.fundoContato > .pContatos{
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
}
.pContatos > img{
    width: 20px;
    margin-right: 10px;
}
.fundoContato > .pC2{
    margin-top: 20px;
}
}


